#textdomain wesnoth-Frost_Mage

[scenario]
    current_time=0
    id="11_a_new_path"
    map_file="~add-ons/Frost_Mage/maps/11_a_new_path.map"
    name= _ "A New Path"
    {TURNS 40 35 30}
    random_start_time=yes
    victory_when_enemies_defeated=no

    [side]
        controller="human"
        no_leader=yes
        fog=yes
        shroud=yes
        {GOLD 400 300 200}
        hidden=no
        side=1
        save_id=elementals
        team_name=erinna
        user_team_name="Erinna"
        {INCOME 3 3 3}
    [/side]
    [side]
        controller="ai"
        no_leader=yes
        {GOLD 200 300 400}
        hidden=yes
        side=2
        team_name=hostile_elementals
        user_team_name="Hostile Elementals"
        {INCOME 4 4 4}
    [/side]
    [side]
        controller="ai"
        no_leader=yes
        {GOLD 350 400 450}
        hidden=yes
        side=3
        team_name=hostile_elementals
        user_team_name="Black Enchantress"
        {INCOME 5 5 5}
    [/side]

    [event]
        name=start

        [lock_view]
        [/lock_view]

        {SCROLL_TO 40 27}

        [remove_shroud]
            side=1
            x=24-40
            y=24-29
        [/remove_shroud]
        [lift_fog]
            side=1
            x=24-40
            y=24-29
        [/lift_fog]


        {FAKE_UNIT_MOVE 40 28 27 26 1 (Cavalryman) ()}

        [unit]
            {CHARACTER_STATS:ERINNA}
            type = Aqua Mage
            x,y = 28,26
        [/unit]
        {MAKE_LOYAL_LEADER erinna}
        [unit]
            {CHARACTER_STATS:RAIZR}
            type = Fire Drake
            placement = leader
        [/unit]
        [unit]
            id=mage_advisor
            side=1
            type=Arch Mage
            gender=female
            canrecruit=no
            unrenamable=yes
            random_traits=yes
            placement=leader
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {MAKE_HERO mage_advisor}
        {SCROLL_TO 31 27}

        [unlock_view]
        [/unlock_view]

        {MSG erinna (_"Oh no! The road ahead is flooded!")}
        {MSG mage_advisor (_"Very unusual. Why were the travellers we met not aware of this situation?")}
        {MSG raizr (_"Something is wrong. Be alert.")}

        {NAMED_LOYAL_UNIT 1 (Water Daemon) 25 26 we1-loyal "Kwee"}
        {SCROLL_TO 25 26}

        {MSG erinna (_"What sort of creature is that? It seems to be entirely made of water?")}
        {MSG mage_advisor (_"An Elemental, or more correctly, an Water Elemental. I read about them in an old book on magic. They are beings made of pure magical energy.")}
        {MSG erinna (_"Amazing! I can't believe I never knew about them.")}
        {MSG mage_advisor (_"Because they were not seen for a very long time. Nor did anybody manage to summon one.")}
        {MSG raizr (_"Is it dangerous? Should I attack it?")}
        
        {MOVE_UNIT (id=we1-loyal) 28 26}
        {MSG we1-loyal (_"Kwee!")}
        [delay]
            time=150
        [/delay]
        {MSG we1-loyal (_"Kwee! Kwee! Kwee!")}
        {MSG erinna (_"You are trying to ... say something?")}

        {NAMED_LOYAL_UNIT 2 (Greater Water Daemon) 24 26 hostile1 "Hostile Elemental"}
        {GENERIC_UNIT 2 (Water Daemon) 25 29}
        {GENERIC_UNIT 2 (Water Daemon) 24 25}

        {MOVE_UNIT (id=hostile1) 28 24}
        [harm_unit]
            [filter]
                id=we1-loyal
            [/filter]
            amount=8
            kill=no
        [/harm_unit]
        {MSG we1-loyal (_"Kweee!!")}
        {MSG erinna (_"Oh no! They are attacking Kwee!")}
        {STORE mage_advisor KILL=no}

        [objectives]
            [objective]
                description= _ "Defeat the hostile elementals"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Heroes (Erinna, Raizr, $mage_advisor.name)"
                condition=lose
            [/objective]
            [objective]
                description= _ "Destruction of Kwee"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
        [/objectives]
    [/event]

    [event]
        name = die
        [filter]
            type = Greater Water Daemon
        [/filter]

        {MSG erinna (_"We defeated them, finally. They are tougher than they look.")}
        {MSG erinna (_"I don't really understand. Why were they attacking Kwee? And where did it came from?")}
        {MSG raizr (_"We should look around.")}
        {MSG mage_advisor (_"I agree. There should be some clue to what is happening here. Uncontrolled Water Elementals can cause floods like this.")}

        {MOVE_UNIT (id=we1-loyal) 28 23}
        {MSG we1-loyal (_"Kwee!")}
        #{HIGHLIGHT_IMAGE 28 24 items/gohere-empty.png ()}
    
        {WISH_ITEM_PICK_UP bracelet-s-w 28 24 "Can't take" items/ring-silver.png (
            [object]
                id=bracelet-s-w
                name= _ "Summoner's Bracelet (Water)"
                take_only_once=no
                image=items/ring-silver.png
                description= _ "A magical bracelet that's allows someone to summon Water Elementals. The person must be compatible."
                locked = true
                gold_value = 0
                [filter]
                    x = 28
                    y = 24
                    type = Aqua Initiate, Aqua Mage, Frost Mage
                [/filter]
                [effect]
                    apply_to=hitpoints
                    increase_total=5
                    heal_full=yes
                [/effect]
                [effect]
                    apply_to=max_experience
                    increase=5%
                [/effect]
                [effect]
                    apply_to=status
                    remove=poisoned
                [/effect]
                [effect]
                    apply_to=status
                    remove=slowed
                [/effect]
            [/object]
        )
        TYPE=amulet
        }

        {MSG erinna (_"What's that?")}
        {MOVE_UNIT (id=erinna) 27 24}
        {MOVE_UNIT (id=mage_advisor) 28 25}
        {MSG erinna (_"A glowing blue bracelet? Is this a magical item?")}
        {MSG mage_advisor (_"Seems safe enough. No evil magic. You should try putting it on.")}
        {MSG erinna (_"Me? Why?")}
        {MSG mage_advisor (_"Well, you should be able to figure it out.")}
        {STORE erinna KILL=no}

        [objectives]
            [objective]
                description= _ "Pick up the ring with $erinna.name and Equip."
                condition=win
            [/objective]
        [/objectives]
    [/event]

    {TIMEOUT_EVENT}
    {DEATH_EVENT (erinna,raizr,mage_advisor,we1-loyal)}
[/scenario]